<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('header') -%>
  </head>
  <body onload="initializeData(<%=exerciseMap%>)">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="list-group">
            <% exercises.forEach(function(exercise) { %>
            <div id="<%=exercise['name'].replace(" ", "-")%>" onclick="selectExercise('<%=exercise['name']%>')" href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-exercise">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%=exercise['name']%></h5>
                <small><%=exercise['type']%></small>
              </div>
              <p class="mb-1">
                Muscles Trained: <%=exercise['muscleGroup']%><br/>
                Equipment Used: <%=exercise['equipment']%>
              </p>
              <small><%=exercise['author']%></small>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="col-8">
          <h3 id="currentExerciseHeader"><%=exerciseToDisplay.name%></h3>
          <hr/>
          <form>
            <div class="form-group">
              <label for="exerciseNameInput">Exercise Name</label>
              <input type="text" class="form-control" id="exerciseNameInput" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="exerciseAuthorInput">Exercise Author</label>
              <input type="text" class="form-control" id="exerciseAuthorInput" placeholder="Author">
            </div>
            <div class="form-group">
              <label for="exerciseLevelSelector">Level</label>
              <select class="form-control" id="exerciseLevelSelector">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Expert">Expert</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exerciseTypeSelector">Type</label>
              <select class="form-control" id="exerciseTypeSelector">
                <option value="Strength">Strength</option>
                <option value="Strongman">Strongman</option>
                <option value="Olympic">Olympic</option>
                <option value="Powerlifting">Powerlifting</option>
                <option value="Hypertrophy">Hypertrophy</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exerciseMuscleGroupMultiSelector">Muscle Group</label>
              <select multiple class="form-control" id="exerciseMuscleGroupMultiSelector">
                <option id="option-chest" value="Chest">Chest</option>
                <option id="option-shoulder" value="Shoulder">Shoulder</option>
                <option id="option-arms" value="Arms">Arms</option>
                <option id="option-back" value="Back">Back</option>
                <option id="option-legs" value="Legs">Legs</option>
              </select>
            </div>
            <div class="form-group">
              <label for="instructionsTextArea">Instructions</label>,
              <textarea class="form-control" id="instructionsTextArea" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label for="notesTextArea">Notes</label>
              <textarea class="form-control" id="notesTextArea" rows="5"></textarea>
            </div>
          </form>
          <div class="horizontal-button-group">
            <button onclick="deleteExercise()" class="btn btn-danger">Delete</button>
            <button onclick="saveExercise()" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('footer') -%>
</html>
