<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('header') -%>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <% exercises.forEach(function(exercise) { %>
          <div clsas="col-sm-4">
            <div class="card exercise-card">
              <div class="card-body">
                <h5 class="card-title"><%=exercise['name']%></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%=exercise['author']%></h6>
                <hr/>
                <p class="card-text exercise-description">
                  <%=exercise['level']%><br/>
                  <%=exercise['type']%><br/>
                  <%=exercise['muscleGroup']%><br/>
                  <%=exercise['equipment']%>
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
  </body>
  <%- include('footer') -%>
</html>
