<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('header') -%>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <% exercises.forEach(function(exercise) { %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%=exercise['name']%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=exercise['author']%></h6>
            <p class="card-text"><%=exercise['instructions']%></p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
  <%- include('footer') -%>
</html>
