<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('header') -%>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="exercises" class="btn btn-primary">Exercise App</a>
    </div>
  </body>
  <%- include('footer') -%>
</html>
